<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui_sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI_Sample">
        <activity android:name=".activity.KeyboardActivity"></activity>
        <activity android:name=".activity.ViewPagerSampleActivity" />
        <activity android:name=".activity.ColorActivity" />
        <activity android:name=".activity.SwipeTabActivity" />
        <activity android:name=".activity.SelectorActivity" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MenuActivity" />
        <activity android:name=".activity.CustomActivity" />
        <activity android:name=".activity.LayoutsActivity" />
        <activity android:name=".activity.RippleActivity" />
        <activity android:name=".activity.LaunchActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>